<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- These settings are set here so they are ONLY available on debug builds
    per: https://stackoverflow.com/questions/14142857/how-can-i-add-additional-android-permissions-for-my-ui-test-project-only
    -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>